body {
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  color: #333;
}

#cart, #products {
  width: 300px;
  float: left;
  margin-right: 20px;
}


#cart-items li {
  margin-bottom: 10px;
}

#cart-total {
  font-weight: bold;
}

#clear-cart-btn, #checkout-btn {
  display: block;
  margin-top: 10px;
}

.add-to-cart-btn {
  display: block;
  margin-top: 10px;
}

#products img{
  border-radius: 4px;
  width: 200px;
  height: 200px;
}