body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fac031 ;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.cart-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  margin-right: 650px;
}

.cart-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}


.cart-item .item-info {
  flex: 1;
}

.cart-item .item-info h3 {
  font-size: 16px;
  margin: 0;
}

.cart-item .item-info p {
  font-size: 14px;
  margin: 0;
  color: #888;
}

.cart-item .item-price {
  font-size: 16px;
  font-weight: bold;
}

.total-price {
  text-align: center;
  margin-top: 20px;
}

.total-price span {
  font-size: 20px;
  font-weight: bold;
  color: #f53d3d;
}

.produto img{
  width: 200px;
  height: 250px;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: separate;
}

table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #000;
  
}


table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0;
}
